@using Microsoft.AspNetCore.Mvc.Localization;
@inject IHtmlLocalizer<SharedResources> SharedLocalizer
@model ViewModels.Footer

@{
	string icon = (string)(ViewData["Theme"] ?? "light") == "dark" ? "moon" : "sun";
}


<div class="container d-md-flex">
	<div>© 2025</div>
	<div class="px-md-4">All images designed by <a href="http://www.freepik.com/">Freepik</a></div>
	@if (Model.Links != null)
	{
		foreach (var link in Model.Links)
		{
			<div class="px-md-4">
				<a href="@link.Link">@link.Label</a>
			</div>

		}
	}
	<div class="px-md-4">
		<a href="/privacy">Privacy policy</a>
	</div>
	<div class="ms-auto px-md-4">
		<a id="theme-switcher" role="button" data-mdb-tooltip-init title="@SharedLocalizer["SwitchTheme"]" onclick="switchTheme()">
			<i class="fa-solid fa-@icon"></i>
		</a>
	</div>
</div>