@model HCms.Content.ViewModels.Fragment

@{
	string id = Model.DomId;

	System.Text.StringBuilder divClass = new("row");
	string rowCls;

	var columns = Model.Props.container.columns;

	foreach (var col in columns)
	{
		if (!string.IsNullOrEmpty(rowCls = rowDivClass(col.breakpoint, col.number)))
			divClass.Append(' ').Append(rowCls);
	}

	var align = Model.Props.container.alignment;

	if (align != null)
		foreach (var a in align)
		{
			if (!string.IsNullOrEmpty(rowCls = alignDivClass(a.breakpoint, a.align)))
				divClass.Append(' ').Append(rowCls);
		}

	rowCls = divClass.ToString();

	divClass.Clear().Append("col");

	string colCls;

	align = Model.Props.cells.cells_alignment;

	if (align != null)
	{
		foreach (var a in align)
		{
			if (!string.IsNullOrEmpty(colCls = alignDivClass(a.breakpoint, a.align)))
				divClass.Append(' ').Append(colCls);
		}

		colCls = divClass.ToString();
	}
	else colCls = null;

	string extraFragmentClass = Model.Attributes?.GetValueOrDefault("bootstrap:class");
}


<div id="@id" class="container g-0 @Model.BasicCssClass @extraFragmentClass">
	<div class="@rowCls g-4">

	@if (Model.Children != null)
		foreach (var f in Model.Children)
		{
			<div class="@colCls">
				@await Html.PartialAsync(f.XmlName, f, ViewData)
			</div>
		}

	</div>
</div>

@{
	string rowDivClass(string breakpoint, string span)
	{
		if (string.IsNullOrEmpty(breakpoint) || string.IsNullOrEmpty(span))
			return null;

		string cls = breakpoint switch
		{
			"sm" => "row-cols-sm",
			"md" => "row-cols-md",
			"lg" => "row-cols-lg",
			"xl" => "row-cols-xl",
			"xxl" => "row-cols-xxl",
			_ => "row-cols"
		};

		return span switch
		{
			"auto" => cls + "-auto",
			"1" => cls + "-1",
			"2" => cls + "-2",
			"3" => cls + "-3",
			"4" => cls + "-4",
			"5" => cls + "-5",
			"6" => cls + "-6",
			"7" => cls + "-7",
			"8" => cls + "-8",
			"9" => cls + "-9",
			"10" => cls + "-10",
			"11" => cls + "-11",
			"12" => cls + "-12",
			_ => cls
		};
	}

	string alignDivClass(string breakpoint, string align)
	{
		string bp = breakpoint switch
		{
			"xs" => "xs-",
			"sm" => "sm-",
			"md" => "md-",
			"lg" => "lg-",
			"xl" => "xl-",
			"xxl" => "xxl-",
			_ => string.Empty
		};

		return align switch
		{
			"vertical-start" => $"align-items-{bp}start",
			"vertical-center" => $"align-items-{bp}center",
			"vertical-end" => $"align-items-{bp}end",
			"vertical-self-start" => $"align-self-{bp}start",
			"vertical-self-center" => $"align-self-{bp}center",
			"vertical-self-end" => $"align-self-{bp}end",
			"horizontal-self-center" => "text-center",
			"horizontal-start" => $"justify-content-{bp}start",
			"horizontal-center" => $"justify-content-{bp}center",
			"horizontal-end" => $"justify-content-{bp}end",
			"horizontal-around" => $"justify-content-{bp}around",
			"horizontal-between" => $"justify-content-{bp}between",
			"horizontal-evenly" => $"justify-content-{bp}evenly",
			_ => null
		};
	}
}