@using Markdig;
@using HCms.Content.ViewModels
@model Fragment

@{
	string id = Model.DomId;
	string md = Model.Props.text;
	string text = Markdown.ToHtml(md);

	var pict = Model.Props.picture;

	string extraFragmentClass = Model.Attributes?.GetValueOrDefault("bootstrap:class");
}

<div id="@id" class="@Model.BasicCssClass @extraFragmentClass">
	@if (pict != null)
	{
		@await Html.PartialAsync("picture", new Fragment(Model, "picture", pict), ViewData)
	}
	@Html.Raw(text)
</div>