@model HCms.Content.ViewModels.Fragment

@{
	string id = Model.DomId;
	string extraFragmentClass = Model.Attributes?.GetValueOrDefault("bootstrap:class");
}

<div id="@id" class="@Model.BasicCssClass @extraFragmentClass">
@Html.Raw(Model.Props.ToString())
</div>