.metadata-breadcrumbs {
	margin-top: 24px;
}

.metadata-title {
	margin-top: 24px;
	margin-bottom: 48px;
	font-family: 'Montserrat', sans-serif;
}

.row-fragment {
	margin-top: 0px;
}

.features-default-fragment {
	margin-top: 48px;
}

.html-fragment {
	display: block;
	clear: both;
	margin-top: 24px;
}

.img-hero-stretched {
}

@media (max-width: 991px) {

	.img-hero-stretched {
		width: 100%;
	}
}

.breakout {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
}

.breakout2 {
	margin: 0em -100%; /* old browsers fallback */
	margin: 0em calc(50% - 50vw);
}


.carousel-item-body {
	position: absolute;
	top: 2rem;
	left: 15%;
	right: 15%;
	bottom: 2rem;
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
	color: white;
}

.carousel-indicators button {
	background-color: white!important;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
	filter: none!important;
}

.tabs-fragment {
	margin-top: 32px;
}

.card-fragment {
	margin: 24px 0 24px 0;
}

.directory-fragment {
	margin-top: 48px;
}

.directory-grid > h3 {
	margin-bottom: 24px;
}

.row.container-fragment {
	margin-top: 24px;
}

.carousel-fragment:nth-of-type(n+2) {
	margin-top: 32px;
}

.action-inner-fragment:nth-of-type(n+2) {
	margin-left: 8px;
}

@media (max-width: 991px) {

	.action-inner-fragment {
		margin-top: 12px;
	}
