body {
	font-family: "Raleway";
	overflow-x: hidden;
}

nav.top-site-header {
	min-height: 100px;
}

@media (min-width: 992px) {

	.top-site-header-menuitem:nth-of-type(n+2) {
		margin-left: 16px;
	}
}

header #logo {
	display: block;
	overflow: auto;
	text-indent: 80px;
	height: 80px;
	color: var(--mdb-heading-color);
	background-image: url('/images/demo-logo-small.webp');
	background-repeat: no-repeat;
	background-position: left center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

	header #logo .logo-title {
		margin-top: 6px;
		font-size: 24px;
	}

	header #logo .logo-slogan {
		color: darkgray;
		font-size: 16px;
	}



.navigation-menu {
	margin-top: 24px;
}

@media (min-width: 992px) {

	.navigation-menu {
		margin-top: 80px;
	}
}

.scrollspy {
	padding-top: 32px;
}

.error_page_body {
	margin-top: 60px;
}



.mt-5 {
	margin-top: 3rem !important;
}

.mt-6 {
	margin-top: 4rem !important;
}